body {
    background-image: url("P9250173.JPG");
    background-size: cover;
}


tytle {
    color: white;
    background-color: darkgray;
    font-weight: 300;
    font-size: 500%;
    padding: 1rem 4rem;
    border-radius:0.8rem;
}

space {
    padding: 100% 100%;
    font-size: 200%;
}

main {
    color: white;
    background-color: lightgray;
    font-weight: 300;
    font-size: 190%;
    padding: 1% 5%;
    border-radius: 0.8rem;
}

/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%; /*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

